PORT=3000
FE_URL=http://localhost:5173
BASE_URL_FE=http://localhost:5173
USER_SERVICE=
LAPOR_SERVICE=
POST_SERVICE=
NOTIF_SERVICE=

# Hugging Face API Key
HF_API_KEY=your_hugging_face_api_key

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=restoping

# Vercel Blob
BLOB_READ_WRITE_TOKEN=

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id

# Email Configuration
MAIL_FROM=no-reply@restoping.com
MAIL_USER=your_email_user
MAIL_PASS=your_email_password

# Authentication
SECRET_KEY=your_jwt_secret_key